$white-color: white;

$nav-bg-color: #505050;
$header-bg-color: #690800;
$main-background-color: #f1f1f1;
$boxnav-bg-color:#f3d83f;

$font-size: 1.25rem;
$main-font-size: 16px;
$main-font: 'Lato', sans-serif; 
